<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Forgot password</h1>

        <div class="form-group form-inline">
            <label>Enter your email:</label>
            <input type="email" id="email" name="email">
        </div>

        <button onclick="forgotPassword()">Submit</button>

        <div id=success></div>
    </div>

    <script>
        function forgotPassword() {
            fetch(
                `/auth/user/forgot-password`,
                {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: $('#email').val()
                    }) // body data type must match "Content-Type" header
                }
            ).then(res => {
                document.getElementById("success").innerHTML = "Kiểm tra email!"
            })
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
