<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Reset password</h1>

        <div class="form-group form-inline">
            <label>Enter your password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group form-inline">
            <label>Enter your password again:</label>
            <input type="password" id="password-again" name="password-again">
        </div>

        <button onclick="resetPassword()">Submit</button>
        <div id="type-again"></div>
    </div>

    <script>
        function resetPassword() {
            let pathName = window.location.pathname.split("/")
            let password = $('#password').val()
            let passwordAgain = $('#password-again').val()

            if (password !== passwordAgain) {
                document.getElementById("type-again").innerHTML = "Mật khẩu không trùng khớp"
            } else {
                fetch(
                    `/auth/user/reset-password`,
                    {
                        method: 'POST', // *GET, POST, PUT, DELETE, etc.
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            token: pathName?.[pathName?.length - 1],
                            password: $('#password').val()
                        }) // body data type must match "Content-Type" header
                    }
                ).then(res => {
                    window.location.replace(window.location.origin);
                })
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
